.form-search {
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px;
  border-bottom: 1px solid #E8E8E8;
  transition: border-bottom 0.4s linear;
  position: relative;
}

.form-search__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  background-color: transparent;
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.form-search__button {
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding: 0;
  width: 80px;
  height: 34px;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  transition: opacity 0.4s, background-color 0.4s linear;
}

.form-search__button_type_active {
  background-color:#3456F3;
}

.form-search__button_type_disabled {
  background-color:#bdbdbd;
}

.form-search__input {
  width: 85%;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #A0A0A0;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: font-size 0.4s, color 0.4s linear;
}

.form-search__button:hover {
  opacity: 0.7;
}

.form-search__input:focus {
  outline: none;
  font-size: 25px;
  color: #000000;
}


@media screen and (max-width: 1000px) {
  .form-search__input {
    width: calc(70% - 36px );
  }
}

@media screen and (max-width: 450px) {
  .form-search {
    padding-bottom: 9px;
  }
  .form-search__button {
    background-size: 12px;
  }
  .form-search__label {
    display: none;
  }
  .form-search__input {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    width: 70%;
  }
  
}